# https://stackoverflow.com/questions/9162919/whitelisting-and-subdirectories-in-git

/*
!.gitignore
!README.md

**/.DS_Store
**.log

!/web
!/server
!/web/**/*.*
!/server/**/*.*
!.gitlab-ci.yml
!deprecated-ci.yml

# below is default react gitignore

/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

